---
import ContentPage from '../../../components/ContentPage.astro';
import Gallery from '../../../components/Gallery.astro';
import DiscordButton from '../../../components/DiscordButton.astro';
---

<ContentPage
  title="Mitwirken | Tiny Temptation Tubs"
  lang="de"
  path="/de/mitwirken/"
  heading="Mitwirken"
  icon="/assets/images/image10.png"
>
  <div class="hand-text flex flex-col gap-6">
    <p>
      <em><strong>Vielleicht bist du mehr als nur ein Gast…<br /> Wenn du Musik in deinem
      Herzen trägst,<br /> anderen Freude schenken willst<br /> oder Teil von etwas Größerem
      werden möchtest</strong></em>
    </p>
    <p>
      <em><strong>Dann laden wir dich ein,<br /> Teil unserer Geschichte zu
      werden..</strong></em> ღ
    </p>
  </div>
  <Gallery
    aspect="portrait"
    cols={2}
    class="mx-auto max-w-[24rem]"
    images={[
      '/assets/images/gallery12/c4a04ae5.jpg',
      '/assets/images/gallery12/3cb16362.jpg',
    ]}
  />
  <DiscordButton href="https://discord.gg/JjWMxjAPBe" />
</ContentPage>
