**/node_modules
**/dist
**/.astro
npm-debug.log*
data/config.json
.git
.gitignore
*.log
README.md
INSTALL.md
MODULES.md
discord-bot/MODULES.md
discord-bot/tests
discord-bot/example
.cursor
.vscode
.ssh
_tmp
backups
