---
import ContentPage from "../../../components/ContentPage.astro";
import ContentImage from "../../../components/ContentImage.astro";
import Gallery from "../../../components/Gallery.astro";
import {
  CARD_IMAGE_PX,
  cardImageSizes,
  cardImageWidths,
} from "../../../data/layout";
import { pageImages, resolveGalleryList } from "../../../data/images";
---

<ContentPage
  title="Events | Tiny Temptation Tubs"
  lang="de"
  path="/de/events/"
  heading="Events"
>
  <ContentImage
    src={pageImages.image15}
    width={CARD_IMAGE_PX}
    sizes={cardImageSizes()}
    widths={cardImageWidths()}
    class="w-full max-w-[24rem] rounded-md"
  />
  <h2>★ Archiv ★</h2>
  <Gallery
    aspect="portrait"
    altPrefix="Event photo"
    images={resolveGalleryList([
      "gallery13/b38bdd4c.jpg",
      "gallery13/895354f2.jpg",
      "gallery13/68509e48.jpg",
      "gallery13/33482412.jpg",
      "gallery13/f52a90b4.jpg",
    ])}
  />
</ContentPage>
