---
import ContentPage from "../../../../components/ContentPage.astro";
import Gallery from "../../../../components/Gallery.astro";
import { resolveGalleryList } from "../../../../data/images";
---

<ContentPage
  title="Staff | Tiny Temptation Tubs"
  lang="de"
  path="/de/community/staff/"
  heading="Staff"
>
  <div class="hand-text flex flex-col gap-6">
    <p>
      <em
        ><strong
          >Hinter jedem warmen Empfang stehen jene,<br /> die sich um das Haus kümmern.</strong
        ></em
      >
    </p>
    <p>
      <strong
        >Unsere Gastgeber, Helfer und Wächter<br /> sorgen dafür, dass jeder Moment
        angenehm bleibt.</strong
      >
    </p>
    <p>
      <em
        ><strong
          >Sie halten das Gleichgewicht,<br /> damit sich jeder sicher und willkommen
          fühlt.</strong
        ></em
      >
    </p>
  </div>
  <Gallery
    aspect="portrait"
    altPrefix="Staff portrait"
    images={resolveGalleryList([
      "gallery14/20657f8a.jpg",
      "gallery14/1ff201fe.jpg",
      "gallery14/e5fc5b6d.jpg",
      "gallery14/32b7ed66.jpg",
      "gallery14/926948ff.jpg",
      "gallery14/ralvus.png",
    ])}
  />
</ContentPage>
