---
import ContentPage from '../../../components/ContentPage.astro';
import Gallery from '../../../components/Gallery.astro';
import { pageIcons, resolveGalleryList } from '../../../data/images';
---

<ContentPage
  title="Staff | Tiny Temptation Tubs"
  lang="de"
  path="/de/staff/"
  heading="Staff"
  icon={pageIcons.image07}
>
  <div class="hand-text flex flex-col gap-6">
    <p>
      <em><strong>Hinter jedem warmen Empfang stehen jene,<br /> die sich um das Haus
      kümmern.</strong></em>
    </p>
    <p>
      <strong>Unsere Gastgeber, Helfer und Wächter<br /> sorgen dafür, dass jeder Moment
      angenehm bleibt.</strong>
    </p>
    <p>
      <em><strong>Sie halten das Gleichgewicht,<br /> damit sich jeder sicher und willkommen
      fühlt.</strong></em>
    </p>
  </div>
  <Gallery
    aspect="portrait"
    images={resolveGalleryList([
      'gallery06/cdd1f6f1.jpg',
      'gallery06/c52619d5.jpg',
      'gallery06/e5fc5b6d.jpg',
      'gallery06/e8ddd9ff.jpg',
      'gallery06/c3bfe344.jpg',
    ])}
  />
</ContentPage>
