---
import ContentPage from "../../../../components/ContentPage.astro";
import IntroPanel from "../../../../components/IntroPanel.astro";
import Gallery from "../../../../components/Gallery.astro";
import DiscordButton from "../../../../components/DiscordButton.astro";
import { joinImages } from "../../../../data/images";
import { DISCORD_TTT } from "../../../../data/site";
---

<ContentPage
  title="Join us | Tiny Temptation Tubs"
  lang="en"
  path="/en/team/join/"
  heading="Join Us"
  gallery
>
  <IntroPanel divider>
    <p>
      <strong
        >Perhaps you are more than just a guest…<br /> If you carry music in your
        heart,<br /> wish to bring joy to others,<br /> or want to become part of
        something greater</strong
      >
    </p>
    <p>
      <strong>Then we invite you<br /> to become part of our story.</strong>
    </p>
  </IntroPanel>
  <Gallery
    wide
    cols={2}
    altPrefix="Team photo"
    class="w-full"
    images={joinImages.en}
  />
  <DiscordButton href={DISCORD_TTT} />
</ContentPage>
