---
import ContentPage from "../../../../components/ContentPage.astro";
import ContentImage from "../../../../components/ContentImage.astro";
import Gallery from "../../../../components/Gallery.astro";
import {
  GALLERY_CONTENT_COLUMN_SIZES,
  CONTENT_COLUMN_PX,
  contentColumnWidths,
} from "../../../../data/layout";
import { pageImages, resolveGalleryList } from "../../../../data/images";
---

<ContentPage
  title="Gallery | Tiny Temptation Tubs"
  lang="en"
  path="/en/pics/gallery/"
  heading="Gallery"
  gallery
>
  <Fragment slot="intro">
    <div class="hand-text flex flex-col gap-4">
      <p><em><strong>A glimpse into our home…</strong></em></p>
      <p>
        <em
          ><strong
            >Warm rooms, quiet corners, soft lights, and places where memories
            are made.</strong
          ></em
        >
      </p>
    </div>
  </Fragment>
  <ContentImage
    src={pageImages.image09}
    width={CONTENT_COLUMN_PX}
    sizes={GALLERY_CONTENT_COLUMN_SIZES}
    widths={contentColumnWidths()}
    class="w-full"
    alt="Exterior view of the bathhouse at night"
    lightbox
  />
  <Gallery
    wide
    altPrefix="Bathhouse screenshot"
    images={resolveGalleryList([
      "gallery07/9c352b69.jpg",
      "gallery07/fcd8f85d.jpg",
      "gallery07/81a2a56a.jpg",
    ])}
  />
  <Gallery
    wide
    altPrefix="Bathhouse screenshot"
    images={resolveGalleryList([
      "gallery09/c2cde289.jpg",
      "gallery09/09600657.jpg",
      "gallery09/009cce14.jpg",
      "gallery09/736c6a9a.jpg",
      "gallery09/7b549343.jpg",
    ])}
  />
  <Gallery
    wide
    altPrefix="Bathhouse screenshot"
    images={resolveGalleryList([
      "gallery10/d7414f9a.jpg",
      "gallery10/cac149e2.jpg",
      "gallery10/ac774d7a.jpg",
      "gallery10/068c47f1.jpg",
      "gallery10/eb706e6d.jpg",
      "gallery10/dfbe594f.jpg",
    ])}
  />
  <div class="section-divider" aria-hidden="true"></div>
  <h2>Room 2</h2>
  <Gallery
    wide
    altPrefix="Room 2 screenshot"
    images={resolveGalleryList([
      "gallery21/716cf24b.jpg",
      "gallery21/ab4e17c6.jpg",
      "gallery21/dddae266.jpg",
      "gallery21/f3f31675.jpg",
      "gallery21/88a002bb.jpg",
      "gallery21/3ec6e4af.jpg",
      "gallery21/03ac8647.jpg",
      "gallery21/e83b206b.jpg",
    ])}
  />
</ContentPage>
