---
import ContentPage from '../../../components/ContentPage.astro';
import Gallery from '../../../components/Gallery.astro';
import DiscordButton from '../../../components/DiscordButton.astro';
---

<ContentPage
  title="Join us | Tiny Temptation Tubs"
  lang="en"
  path="/en/join/"
  heading="Join Us"
  icon="/assets/images/image18.png"
>
  <div class="hand-text flex flex-col gap-6">
    <p>
      <strong>Perhaps you are more than just a guest…<br /> If you carry music in your
      heart,<br /> wish to bring joy to others,<br /> or want to become part of something
      greater</strong>
    </p>
    <p>
      <em><strong>Then we invite you<br /> to become part of our story.</strong></em> ღ
    </p>
  </div>
  <Gallery
    aspect="portrait"
    cols={2}
    class="mx-auto max-w-[24rem]"
    images={[
      '/assets/images/gallery17/88d650d3.jpg',
      '/assets/images/gallery17/7a80e7c4.jpg',
    ]}
  />
  <DiscordButton href="https://discord.gg/JjWMxjAPBe" />
</ContentPage>
