---
import ContentPage from "../../../components/ContentPage.astro";
import ContentImage from "../../../components/ContentImage.astro";
import Gallery from "../../../components/Gallery.astro";
import {
  CARD_IMAGE_PX,
  cardImageSizes,
  cardImageWidths,
} from "../../../data/layout";
import { pageImages, resolveGalleryList } from "../../../data/images";
---

<ContentPage
  title="Events | Tiny Temptation Tubs"
  lang="en"
  path="/en/events/"
  heading="Events"
>
  <ContentImage
    src={pageImages.image04}
    width={CARD_IMAGE_PX}
    sizes={cardImageSizes()}
    widths={cardImageWidths()}
    class="w-full max-w-[24rem] rounded-md"
  />
  <h2>★ Archive ★</h2>
  <Gallery
    aspect="portrait"
    altPrefix="Event photo"
    images={resolveGalleryList([
      "gallery03/b38bdd4c.jpg",
      "gallery03/895354f2.jpg",
      "gallery03/68509e48.jpg",
      "gallery03/33482412.jpg",
      "gallery03/e17c546b.jpg",
    ])}
  />
</ContentPage>
