---
import WelcomePage from '../../components/WelcomePage.astro';
---

<WelcomePage
  title="Willkommen | Tiny Temptation Tubs"
  lang="de"
  path="/de/"
  heading="Willkommen, Reisender…"
  buttonLabels={[
    'Über unser Haus',
    'Hausregeln',
    'Events',
    'Staff',
    'Partner',
    'Mitwirken',
    'Galerie',
    'Gästebuch',
  ]}
>
  <p>
    <em>Du hast den Weg zu einem Ort gefunden, an dem die Zeit langsamer vergeht und die Welt
    für einen Moment stillsteht.</em><br />
    ღ<br />
    <em>Hinter warmem Licht, sanftem Dampf und leisen Stimmen verbirgt sich ein Badehaus, das
    mehr ist als nur ein Ort ein Zuhause für Geschichten, Begegnungen und Erinnerungen.</em><br />
    ღ<br />
    <em>Tritt ein, lege die Last des Alltags ab…<br /> und finde Ruhe bei uns in den</em><br />
    <em><strong>Tiny Temptation Tubs.</strong></em>
  </p>
</WelcomePage>
