---
import ContentPage from '../../../components/ContentPage.astro';
import Gallery from '../../../components/Gallery.astro';
import DiscordButton from '../../../components/DiscordButton.astro';
---

<ContentPage
  title="Partner | Tiny Temptation Tubs"
  lang="en"
  path="/en/partner/"
  heading="Partner"
  icon="/assets/images/image17.png"
>
  <div class="hand-text flex flex-col gap-6">
    <p>
      <em><strong>Beyond our walls, there are places<br /> that are connected to
      us.</strong></em>
    </p>
    <p>
      <em><strong>Friends, houses, and communities<br /> with whom we share
      stories.</strong></em>
    </p>
    <p><em><strong>Together, we create a greater world.</strong></em></p>
  </div>
  <img
    src="/assets/images/gallery20/0d103a87.png"
    alt=""
    loading="lazy"
    class="w-48 max-w-full"
  />
  <p class="hand-text"><u><em><strong>MO'BATH LOFT</strong></em></u></p>
  <p class="hand-text">
    <em><strong>MO'BATH LOFT is a relaxing bathhouse venue welcoming guests of all races and
    genders. Enjoy hot baths, friendly conversations, mini-games, and scenic views in a cozy
    and inclusive atmosphere.<br />
    The bathhouse is open Friday and Sunday, but you always can visit outside of working hours
    and hang out there .</strong></em>
  </p>
  <p class="hand-text"><u><em><strong>Chaos, Cerberus, Goblet, W28, P4</strong></em></u></p>
  <DiscordButton href="https://discord.gg/y7CUTNfVB9" />
  <p class="hand-text"><em><strong>♫ Music band ♫</strong></em></p>
  <Gallery
    aspect="landscape"
    images={[
      '/assets/images/gallery15/29745391.png',
      '/assets/images/gallery15/e17de711.png',
    ]}
  />
</ContentPage>
