---
import ContentPage from "../../../components/ContentPage.astro";
import Gallery from "../../../components/Gallery.astro";
import { resolveGalleryList } from "../../../data/images";
---

<ContentPage
  title="Gästebuch | Tiny Temptation Tubs"
  lang="de"
  path="/de/gaestebuch/"
  heading="Gästebuch"
>
  <p class="hand-text">
    <em
      ><strong
        >Man sagt, Worte können bleiben…<br /> Hinterlasse ein Stück von dir,<br
        /> ein paar Gedanken oder Erinnerungen -<br /> damit deine Reise bei uns niemals
        ganz vergeht.</strong
      ></em
    >
  </p>
  <Gallery
    aspect="landscape"
    images={resolveGalleryList([
      "gallery01/b04b2349.jpg",
      "gallery01/fb0b75e8.jpg",
      "gallery01/228b4f2a.jpg",
      "gallery01/ca8d23e8.jpg",
      "gallery01/ab7b15ef.jpg",
      "gallery01/4422e621.jpg",
      "gallery01/ca8cef1a.jpg",
      "gallery01/895a9878.jpg",
    ])}
  />
</ContentPage>
