---
import IntroPanel from "./IntroPanel.astro";
import { staffCopy } from "../data/staff";
import type { Lang } from "../data/nav";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const { paragraphs } = staffCopy[lang];
---

<IntroPanel>
  {
    paragraphs.map((lines) => (
      <p>
        <strong>
          {lines[0]}
          <br />
          {lines[1]}
        </strong>
      </p>
    ))
  }
</IntroPanel>
