---
import ContentPage from "../../../../components/ContentPage.astro";
import Gallery from "../../../../components/Gallery.astro";
import DiscordButton from "../../../../components/DiscordButton.astro";
import { resolveGalleryList } from "../../../../data/images";
import { DISCORD_TTT } from "../../../../data/site";
---

<ContentPage
  title="Mitwirken | Tiny Temptation Tubs"
  lang="de"
  path="/de/community/mitwirken/"
  heading="Mitwirken"
>
  <div class="hand-text flex flex-col gap-6">
    <p>
      <em
        ><strong
          >Vielleicht bist du mehr als nur ein Gast…<br /> Wenn du Musik in deinem
          Herzen trägst,<br /> anderen Freude schenken willst<br /> oder Teil von
          etwas Größerem werden möchtest</strong
        ></em
      >
    </p>
    <p>
      <em
        ><strong
          >Dann laden wir dich ein,<br /> Teil unserer Geschichte zu werden.</strong
        ></em
      >
    </p>
  </div>
  <Gallery
    aspect="portrait"
    cols={2}
    altPrefix="Community photo"
    class="mx-auto max-w-[24rem]"
    images={resolveGalleryList([
      "gallery12/c4a04ae5.jpg",
      "gallery12/3cb16362.jpg",
    ])}
  />
  <DiscordButton href={DISCORD_TTT} />
</ContentPage>
